* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    /* margin-left: 10%; */
    margin: auto;
    padding-top: 30px;
    /* padding-top: 20px; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* padding: 10px 20px; */
}

nav ul li {
    padding: 5px 0x;
}

nav ul li a {
    /* padding: 10px; */
    margin-left: 80px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 25px;
}

/* hover effects on menu-bar(navigation bar) */
a:hover {
    color: white;
    background-color: rgb(4, 163, 4);
    border-radius: 5px;
    padding: 5px 0;
}

.logoo-name {
    /* color: white; */
    font-size: 30px;
    font-weight: bold;
}

.logoo-name i,
.cart {
    color: green;
}

.logoo-name div {
    margin: 0 20px;
    font-size: 18px;
}
.cart:hover{
    color: black;
    cursor: pointer;
}
hr{
    margin-top: 30px;
}

.login .logoo-name i {
    color: green;
}

.login {

    /* border: 2px solid blue; */
    width: 100vw;
    height: 80vh;

}

.logoo-name {
    text-align: center;
}

.login-form {
    border: 2px solid green;
    /* text-align: center; */
    margin: auto;
    width: 50%;
    height: 80%;
    margin-top: 30px;
    margin-left: 25%;
    padding: 50px 50px;
}

.login-form label {
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 15px; */
}

.login-form input {
    /* padding: 12px;
    width: 36vw; */
    outline: none;
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.pw-login .password-eye{
    position: absolute;
    padding: 10px;
    min-width: 40px;
    margin: 12px 0;
}
.pw-login .password-eye:hover {
    color: blue;
    cursor: pointer;
}

.login-form button {
    width: 30%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 25px 190px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgb(4, 163, 4);
}








